body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-size: 50px;
    color: gray;
    font-weight: bold;
}

.about-me {
    color: gray;
    font-weight: bold;
}

.skip {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 14px 35px;
    color: white;
    border-radius: 35px;
    margin-top: 15px;
}

section {
    display: flex;

}

.img-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 25px;
}

.img-width img {
    width: 100%;
    height: 100%;
}

.About-me {
    background-image: url(image/7.png);
    background-repeat: no-repeat;
    width: 100%;
}

.Easy-Pickled-Beets {
    text-align: center;
    padding-top: 35px;
}

.Easy-Pickled-Beets h1 {
    font-size: 35px;
}

.Card {
    width: 40%;
    margin-right: 4%;
    margin-left: 4%;
    padding-left: 15px;
    margin-top: 5%;
    box-shadow: 3px 3px 50px gray;
    border-radius: 15px;
}

.Card img {
    border-radius: 12%;
    padding: 14px 10px 10px;
    width: 90%;
}

.Card h2 {
    padding-right: 13px;
    padding-left: 13px;
}

.Card p {
    text-align: left;
    padding-right: 15px;
    padding-left: 13px;
}

.Subscribers {
    background-color: white;
    height: 250px;
    width: 72%;
    margin: auto;
    box-shadow: 3px 3px 50px gray;
    margin-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
    border-radius: 15px;
}

.Youtube {
    margin-left: 7%;
    margin-right: 7%;
    width: 30%;
}

.Youtube h3 {
    font-size: 45px;
    font-weight: bold;
}

.Youtube p {
    font-size: 13px;
}

footer {
    margin-top: 8%;
    width: 100%;
    height: 200px;
    background-color: black;
}

footer h2 {
    text-align: center;
    color: gray;
    padding-top: 25px;
}

.Food {
    color: orange;
}

footer p {
    text-align: center;
    color: white;
}